Code/
Code - OSS/ 
btop/*.log

Electron/
Kvantum/
PlotJuggler/
Surfshark/
epiphany/

dconf/
fcitx/
fcitx5/
go/
goa-1.0/
gtk-3.0/
gtk-4.0/
gh/
github-copilot/
ibus/
libaccounts-glib/
libreoffice/
pulse/
uwsm/
vim/
thefuck/
yay/

electron-flags.conf
spotify-flags.conf
systemd/

qt5ct/
qt6ct/
vesktop/Crashpad/
vesktop/sessionData/

QtProject.conf
Trolltech.conf
arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
code-flags.conf
discoverrc
dolphinrc
filetypesrc

gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kded5rc
kded6rc
kdeglobals
kglobalshortcutsrc
kiorc
konsolerc
konsolesshconfig
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc

mimeapps.list
okularrc
obsidian/
pavucontrol.ini

powermanagementprofilesrc
trashrc
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf


