autostart/
Code/
Cursor/
libreoffice/
Unknown Organization/
Docker Desktop/
JetBrains/
VESC/
figma-linux/

gh/
github-copilot/

thefuck/
obsidian/
Notion/
cagent/
flutter/
qalculate/
spotify/

mozilla/
zen/
google-chrome/
google-chrome-for-testing/
Google/
gcloud/
systemd/

fcitx/
vesktop/
Surfshark/
vlc/
QtProject.conf
heroic/
QQ/
menus/

claude/
clawhub/
git/
go/
notesmd-cli/
notion/

zoom.conf
zoomus.conf
.env.fish
pavucontrol.ini
