autostart/
Code/
Cursor/
libreoffice/
Unknown Organization/
Docker Desktop/
JetBrains/
VESC/
figma-linux/

gh/
github-copilot/

thefuck/
obsidian/
Notion/
cagent/
flutter/
qalculate/
spotify/

mozilla/
zen/
google-chrome/
Google/
systemd/

fcitx/
vesktop/
Surfshark/
vlc/
QtProject.conf
heroic/

zoom.conf
zoomus.conf
.env.fish
pavucontrol.ini
